<div class="form-group">
  <label for="title">Title*</label>
  <input required type="text" value="<%= article.title %>" name="title" id="title" autocomplete="off" class="form-control" />
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea name="description" id="description" class="form-control" rows="2" autocomplete="off"><%= article.description %></textarea>
</div>

<div class="form-group" height='0' visibility="0">
  <label for="markdown">Content*</label>
  <textarea style="display: none;" required name="markdown" id="markdown" class="form-control" rows="0" autocomplete="off"><%= article.markdown %></textarea>
</div>

<div style = "height: 500px">
<%- include('./../test/index') %>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Save</button>
