<!-- Include Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<style>
#editor-container {
  height: 100%;
  /* added these styles */
  flex: 1;
  display: flex; 
  flex-direction: column;
}

#editor {
  height: 100%;
  /* added these styles */
  flex: 1;
  overflow-y: auto;
  width: 100%;
}
</style>
<div id = "editor-container">
  <!-- Create the editor container -->
  <div id="editor">
    <p id="quill-delta"></p>
  </div>
</div>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    modules: {
    toolbar: [
      [{
        header: [1, 2, false]
      }],
      ['bold', 'italic', 'underline'],
      ['image', 'code-block']
    ]
  },
    theme: 'snow'
  });

  quill.on('text-change', function(delta, source) {
	updateHtmlOutput()
  })

  // Return the HTML content of the editor
  function getQuillHtml() { return quill.root.innerHTML; }

  function updateHtmlOutput()
  {
    let html = getQuillHtml();
      console.log ( html );
      $("#markdown").val(html)
     // updateHighlight();
  }


updateHtmlOutput()

const delta = quill.clipboard.convert($("#markdown").val());
$('#quill-delta').html(delta);
</script>